<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% recipe.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
<% end %>  

<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Edit Tags", new_tag_path %>
